/* Element Overrides */
body {
  margin: auto;

  font-family: "Open Sans", "Quicksand",sans-serif;
}

.main-content {
  background-color: #011a36;
  margin-right: 0;
  margin-left: 0;
  padding: 16px 16px;

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.card {
  color: white;
  background-color: #102842;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 5px 0 rgba(43,43,43,0.1), 0 11px 6px -7px rgba(43,43,43,0.1);
  box-shadow: 0 0 5px 0 rgba(43,43,43,0.1), 0 11px 6px -7px rgba(43,43,43,0.1);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card-subtitle {
  margin-bottom: 12px;
}
