.auto-suggest-container {
    width: 100%;
}
.auto-suggest-container .form-control {
    border: none;
    border-radius: 15px;
    color: white;
    background-color: #132e4c;
}
.auto-suggest-container .form-control::placeholder {
    color: #7f93a9;
}
.auto-suggest-container .suggestion-container {
    width: 100%;
    /* height: 40px; */
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
}
.auto-suggest-container .suggestion-container .suggestion-item {
    width: 100%;
    align-items: center;
    height: 40px;
    background-color: white;
    cursor: pointer;
}
.auto-suggest-container .suggestion-container .suggestion-item:hover {
    background-color: #ddd;
}
.auto-suggest-container .suggestion-container .suggestion-item.highlighted {
    background-color: #ddd;
}
.auto-suggest-container .suggestion-container .suggestion-item div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}